<svg class="svg" width="410" height="410" xmlns="http://www.w3.org/2000/svg">
    <g>
    <circle class="circle_animation"  [ngStyle]="{'strokeDashoffset':strokeDashOffsetPx+'px'}" r="180" cy="205" cx="205" strokeWidth="8" [attr.stroke]="stroke" fill="none"/>
    </g>
</svg>
<svg class="svg_mob" width="300" height="300" xmlns="http://www.w3.org/2000/svg">
    <g>
    <circle class="circle_animation" [ngStyle]="{'strokeDashoffset':strokeDashOffsetPxMob+'px'}"  r="125" cy="150" cx="150" strokeWidth="8"  [attr.stroke]="stroke" fill="none"/>
    </g>
</svg>